* {
    margin: 0;
    padding: 0;
    /* background-color: #FEFAE0; */
  }
  
  .nav {
    display: flex;
    background-color: #fefae0;
    width: 100%;
  }
  
  .nav .logo {
    flex-basis: 80%;
    display: flex;
    padding: 1%;
    align-items: center;
  }
  
  .nav .logo img {
    width: 40px;
    margin-left: 2%;
  }
  
  .nav .logo h2 {
    color: #ba8046;
    margin-left: 2%;
  }
  
  .nav .melodum {
    display: flex;
    flex-basis: 20%;
    justify-content: space-around;
    align-items: center;
  }
  
  .nav .melodum img {
    width: 40px;  
    display: flex;
  }
  
  .nav .melodum a {
    text-decoration: none;
    color: #ba8046;
  }

  span.logout {
    color: #ba8046;
  }
  
  
  @media screen and (max-width:450px)
   {
     .nav .melodum img, .nav .logo img{
       width: 27px;
     }
   }
  
   @media screen and (max-width:450px) {
    .nav .logo h2 {
      font-size: 15px;
    }
   }
  
   @media screen and (max-width:450px){
    .nav .melodum{
      flex-basis: 50%;
    }
   }
   
  
  /* ********* Main 1 ****** */
  
  .main1 .text h1 {
    position: absolute;
    font-size: 7vw;
    color: white;
    font-family: futura;
    margin-top: 14%;
  }
  .main1 .text h4 {
    color: white;
    position: absolute;
    font-family: futura;
    margin-left: 1%;
    font-size: 2vw;
    z-index: 10;
    margin-top: 32%;
  }
  .main1 .main-bg img {
    width: 100%;
  }
  .items {
    background-color: #fefae0;
  }
  /* ********** For Product One  ************** */
  .items .product-one {
    background-color: #fefae0;
    position: relative;
    }
  
  .items .product-one img {
    width: 25%;
    padding: 10px;
  }
  
  .items .product-one h4 {
    color: #ba8046;
    position: absolute;
    top: 7%;
    left: 32%;
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
  }
  .items .product-one p {
    color: #ba8046;
    position: absolute;
    font-size: 2vw;
    top: 15%;
    left: 32%;
  }
  
  .items .product-one  button {
    color: white;
    background-color: #ba8046;
    padding: 2% 3%;
    border: 0;
    position: absolute;
    bottom: 10px;
    left: 32%;
    border-radius: 3px;
  }
  
  /* ********** for product two ************** */
  
  .items .product-two {
    background-color: #fefae0;
    position: relative;
    }
  
  .items .product-two img {
    width: 25%;
    padding: 10px;
  }
  
  .items .product-two h4 {
    color: #ba8046;
    position: absolute;
    top: 7%;
    left: 32%;
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
  }
  .items .product-two p {
    color: #ba8046;
    position: absolute;
    font-size: 2vw;
    top: 15%;
    left: 32%;
  }
  
  .items .product-two  button {
    color: white;
    background-color: #ba8046;
    padding: 2% 3%;
    border: 0;
    position: absolute;
    bottom: 10px;
    left: 32%;
    border-radius: 3px;
  }
  
  /* ********** For Product Three ************** */
  
  .items .product-three {
    background-color: #fefae0;
    position: relative;
    }
  
  .items .product-three img {
    width: 25%;
    padding: 10px;
  }
  
  .items .product-three h4 {
    color: #ba8046;
    position: absolute;
    top: 7%;
    left: 32%;
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
  }
  .items .product-three p {
    color: #ba8046;
    position: absolute;
    font-size: 2vw;
    top: 15%;
    left: 32%;
  }
  
  .items .product-three  button {
    color: white;
    background-color: #ba8046;
    padding: 2% 3%;
    border: 0;
    position: absolute;
    bottom: 10px;
    left: 32%;
    border-radius: 3px;
  }
  
  /* ********** For product four *********** */
  
  .items .product-four {
    background-color: #fefae0;
    position: relative;
  }
  
  .items .product-four img {
    width: 25%;
    padding: 10px;
  }
  
  .items .product-four h4 {
    color: #ba8046;
    position: absolute;
    top: 7%;
    left: 32%;
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
  }
  .items .product-four p {
    color: #ba8046;
    position: absolute;
    font-size: 2vw;
    top: 15%;
    left: 32%;
  }
  
  .items .product-four button {
    color: white;
    background-color: #ba8046;
    padding: 2% 3%;
    border: 0;
    position: absolute;
    bottom: 10px;
    left: 32%;
    border-radius: 3px;
  }
  
  /* *********************************************** */
  
  .footer {
    background-color: #faedcd;
    width: 100%;
  }
  /* ******************* */
  
  /* ******************* */
  
  .footer .end {
   align-items: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }
  
  .end p {
    color: #ba8046;
    font-size: 3vw;
  }
  .end button {
    color: white;
    background-color: #ba8046;
    margin: 10px 10px;
    padding: 10px 10px;
    border: 0;
  }
  
  /* **************** 
      cart page
   ************* */
  
   .cart{
     background-color: #ba8046;
     padding: 10% 35%;
     color: #fff;
     font-family: "Comfortaa",sans-serif;
   }
  
   /*********** 
   Thank You Page
    ************/
    .thank-you{
      background-color: #ba8046;
      padding: 10% 40%;
      color: #fff;
      font-family: "Comfortaa",sans-serif;
    }
    .message{
      background-color: #FEFAE0;
    }
    .message p{
      color: #BA8046;
      padding: 10% 35%;
      font-family: "Roboto",sans-serif; 
    }
  
    footer{
      background-color: #FEFAE0;
      padding: 2% 45%;
    }
  
    .back-to-home{
      color: #fff;
      background-color: #ba8046;
      border: 0;
      padding: 10% 10%;
      border-radius: 3px;
    }
  
    .order-items{
      background-color: #ba8046;
      padding: 10% 40%;
      color: #fff;
      font-family: "Comfortaa",sans-serif;
      font-size: 30px;
    }
  
    /********* Order Item 
    ************ */
  
    .color{
      background-color: #FEFAE0;
    }
  
    .orderitems {
      width: 70%;
      margin: 0 auto;
    }
    .orderitems .heading-items h2 {
      font-family: "Roboto", sans-serif;
      font-size: 30px;
      font-weight: lighter;
      color: #BA8046;
    }
    .orderitems .items-table table {
      border-spacing: 20px;
      padding: 20px;
      width: 100%;
      border-bottom: 1px solid #BA8046;
      margin: 0 auto;
      color: #BA8046;
    }
    .orderitems .items-table table caption {
      text-align: start;
      font-family: "Roboto", sans-serif;
      font-size: 20px;
      font-weight: lighter;
    }
    .orderitems .items-table .total ul {
      list-style: none;
      display: flex;
      justify-content: space-around;
      color: #BA8046;
      
    }
    .orderitems .items-table .total ul li {
      flex-basis: 135px;
      font-family: "Avenir", sans-serif;
      font-weight: bolder;    
    }
  
    .item-details .sign .signupform ul{
      font-family: "Roboto", sans-serif;
      font-size: 20px;
      font-weight: lighter;
      color: #BA8046;
      margin: 0 auto;
      margin-left: 18%;
      list-style: none;
    }
    .item-details .sign .signupform ul #name,#phone,#adress,#pin,#street,#city,#State{
      padding: 1% 4%;
      background-color: #BA8046;
      border: 0;
      border-radius: 2px;
      color: #fff;    
    }
    .item-details .sign .signupform ul ::placeholder{
      color: #FEFAE0;
    }
  
    .item-details .sign .signupform ul button {
      width: 14%;
      padding: 1% 4%;
      background-color: #BA8046;
      border: 0;
      color: #fff; 
      border-radius: 2px;  
    }
    
  /* ************
  For Sign In Page
  ***************** */
  
  .signin {
    background-color: #fefae0;
    width: 100%;
    position: fixed;
    opacity: 90%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }
  
  .signin .logo {
    flex-basis: 80%;
    display: flex;
    padding: 1%;
    align-items: center;
  }
  
  .signin .logo img {
    width: 40px;
    margin-left: 46%;
  }
  
  .signin .logo h2 {
    color: #ba8046;
    margin-left: 1%;
  }
  
  .signin .sign h2 {
    color: #ba8046;
    margin-left: 50%;
    font-family: "Roboto", sans-serif;
  }
  
   .signin .sign ul #email,#password,#username{
    padding: 1% 4%;
    background-color: #D4A373;
    border: 0;
    border-radius: 2px;
    color: #fff;
    margin: 5px 44%;  
  }
  
  .signin .sign ul ::placeholder{
    color: #FEFAE0;
  }
  
  .signin .sign ul button {
    width: 15%;
    padding: 1%;
    justify-content: center;
    background-color: #BA8046;
    border: 0;
    color: #fff; 
    border-radius: 2px; 
    margin: 20px 44%; 
  }
  .signin .sign ul p{
    color: #495050;
    margin-left: 46%;
  
  }
  .signin .sign ul a{
    color: #495050;
  }
  
  
  /* .popup {
    position: fixed;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  } */
  